<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Kontakt</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container d-flex justify-content-start">
        <form action="/send_message" method="post" class="contact-form">
            <h2>Formularz kontaktowy</h2>
            <h5>Wyślij wiadomość:</h5>
            <div class="mb-3">
                <label for="sender" class="form-label">Imię / nazwisko</label>
                <input name="sender" type="text" class="form-control" id="sender">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Treść wiadomości</label>
                <textarea name="content" class="form-control" id="content" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Wyślij</button>
        </form>
    </div>
</div>
</body>
</html>