<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Jak to działa?</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Jak to działa</h2>

    <p>Nasze samoobsługowe myjnie dla psów, takie jak Wash Dog BOX i Wash Dog EXPRESS, są zaprojektowane z myślą o
    prostocie obsługi i wygodzie dla Twojego pupila. Poniżej przedstawiamy, jak działają te urządzenia.</p>

    <h3>Wash Dog BOX:</h3>

    <p>Wash Dog BOX to niezawodna myjnia dla psa, łatwa w obsłudze i wyposażona we wszystko, czego potrzebujesz, aby Twój
    pies czuł się świeżo i czysto. Myjnia jest wykonana ze stali nierdzewnej i wyposażona w system odpływowy z filtrem
    antywłosowym, co gwarantuje czystość i higienę. Podłoga jest antypoślizgowa, co zapewnia bezpieczeństwo Twojego psa
    podczas kąpieli. Urządzenie posiada wyświetlacz czasowy, suszarkę oraz dodatkowy uchwyt na smycz, co ułatwia
        utrzymanie psa na miejscu podczas mycia.</p>

    <p>Wash Dog BOX może być dodatkowo wyposażony w czytnik monet, czytnik banknotów, terminal do kart płatniczych,
        zasobnik na ciepłą wodę oraz schodki dla psa, co zapewnia jeszcze większy komfort i łatwość obsługi.</p>

    <h3>Wash Dog EXPRESS:</h3>

    <p>Wash Dog EXPRESS to specjalny kiosk z myjnią dla psów. Kiosk jest wyposażony w system wentylacyjny, instalację
    elektryczną i oświetleniową, instalację hydrauliczną przystosowaną do myjni dla psów, skuteczną instalację odpływową
    oraz umywalkę. Zapewnia to efektywną wymianę powietrza i maksymalny komfort dla Twojego psa podczas kąpieli.</p>

    <p>Dodatkowe opcje obejmują kaseton LED, oklejenie zabezpieczające i odblaskowe napisy, zabudowę meblową z umywalką,
    siedzisko z wieszakiem i logiem Wash Dog, zabudowę z zestawem sprzątającym, klimatyzację oraz dodatkowe
    zabezpieczenia klimatyzatora.</p>

    <p>Prosimy o kontakt, jeżeli jesteś zainteresowany szczegółami technicznymi naszych urządzeń. Cieszymy się na możliwość
    współpracy i dostarczanie wysokiej jakości rozwiązań dla Twojego psa.</p>
</div>
</body>
</html>